$black: #232426;
$darkerBlack:#2F2F2F;
$lighterBlack: #2c2c2c;
$lightestBlack: #373737;
$lightGrey: #c6c6c6;
$yellow: #a48d14;
$orange: #fb6c05;
$lightGreen: #94ab13;
$darkGreen: #a48d14;
$red: #eb4335;
$blue: #4285f4;
$gold: #FFC121;
