@import "./app/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Livvic&display=swap");
body {
  background-color: $black;
  font-family: "Livvic", sans-serif;
}
.row-break {
  flex-basis: 100%;
  height: 0;
  width: 100%;
}
.currency {
  font-size: 0.6rem !important;
  color: $lightGrey !important;
  font-weight: 200 !important;
}
.text-green {
  color: $lightGreen !important;
  font-weight: 700;
}
.text-gold {
  color: $gold !important;
}
.text-red {
  color: $red !important;
}
.text-blue {
  color: $blue !important;
}
.pr-1{
  padding-right: 1rem;
}
.blank{
  display:none
}
.buy-btn {
  all: unset;
  cursor: pointer;
  white-space: nowrap;
  color: $lightGrey;
  background-color: $darkGreen;
  border-radius: 4px;
  text-align: center;
  margin-top: 0.5rem;
  padding: 0.2rem 2rem;
  transition: 0.5s;
  &:hover, &:active {
    transition: 0.5s;
    box-shadow: 1px 2px;
  }
}